.cabecalho{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #65585e;
    text-align: center;
}
.cabecalho1{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #65585e;
    text-align: center;
    background-color: #7c93f2;
}
.cabecalho2{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #65585e;
    text-align: center;
    background-color: #40ba5b;
}
.cabecalho3{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #65585e;
    text-align: center;
    background-color: #f16b6b;
}


.corpo{
    background-color: #171f3f;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape{
    background-color: #cf1076;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    left:0;
    bottom: 0;
}

.foto{
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 49.9%;
    border-top-left-radius: 49.9%;
    border-top-right-radius: 49.9%;
    border-bottom-right-radius: 49.9%;
    border-bottom-left-radius: 49.9%;
}

.redonda{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkmagenta;
    color: whitesmoke;
    text-align: right;
}

.circle{
    background-color: #0f2da3;
    border-radius: 50%;
}

.imagem-redonda {
    border-radius: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
a{
    color: #fa0179;
}